*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    font-family: sans-serif;
    padding: 3rem 10rem;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../image/background.png);
    background-position: center;
    background-size: cover;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul{
    display: flex;
    gap: 5rem;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 24px;
    color: #fff;

}
.wrapper{
    margin-top: 9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(110%);
}
.left{
    width: 45%;
}
.left_title{
    font-size: 9rem;
    color: #fff;
    font-weight: 600;
    margin-bottom: 1rem;
}
.left_desc{
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 3rem;
}
.left_btn a{
    text-decoration: none;
    padding: 20px 90px;
    background-color: #e2e2e2;
    border-radius: 16px;
    font-size: 1.5rem;
    color: #000;
}
.right{
    width: 45%;
    display: flex;
    gap: 35px;
    flex-wrap: wrap;
}
.right a{
    text-decoration: none;
}
.box{
    width: 250px;
    height: 280px;
    border-radius: 14px;
    padding: 14px 16px;
    background-position: center;
    background-size: cover;
}
.box:hover{
    transition: all 0.4s ease;
}
.box1:hover{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../image/pic-1.png);
}
.box2:hover{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../image/pic-2.png);
}
.box3:hover{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../image/pic-3.png);
}
.box4:hover{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../image/pic-4.png);
}
.box_title{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 1rem;
}
.box_desc{
    font-size: 16px;
    color: #fff;
}
.box1{
    background-image: url(../image/pic-1.png);
}
.box2{
    background-image: url(../image/pic-2.png);
}
.box3{
    background-image: url(../image/pic-3.png);
}
.box4{
    background-image: url(../image/pic-4.png);
}

.slider{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #18181A;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}